<%- include('../partials/header.ejs') %>

<main>
    <div class="container rounded bg-white ">
        <div class="row">  
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <% let image = user?.gender === 'male' ? "/images/img_avatar1.png" : user?.gender === 'female' ? "/images/img_avatar2.png" : "/images/fruit_avatar.png" %>
                    <% user?.picture ? image = user.picture : image = image %> 
                    <img class="rounded-circle mt-5" alt="Avatar" 
                        width="150px" src="<%= image %>">
                        <h5 style="color: #005c2f">Hello, <%= user?.username %> <br>
                        <small><%= user?.email %> </small>
                        </h5> 
                    </span>
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h1 style="color: #005c2f">Profile Settings</h1>
                </div>
                    <div class="row mt-3">
                        <% if (errorMessage) { %>
                            <div class="user_message user_message_error"><%= errorMessage %></div>
                        <% } %>
                            <input type="hidden" name="user_id" id="user_id" value="<%= user?._id %>">
                            <div class="col-md-12">
                                <label class="labels bg-success w-100 text-white text-center p-2">USERNAME</label>
                                <h5 class="text-center"><%= user?.username %></h5>
                            </div>
                            <div class="col-md-12">
                                <label class="labels bg-success w-100 text-white text-center p-2"> EMAIL</label>
                                <h5 class="text-center"><%= user?.email %></h5>
                            </div>
                            <div class="col-md-12">
                                <label class="labels bg-success w-100 text-white text-center p-2">GENDER</label>
                                <h5 class="text-center"><%= user?.gender %></h5>
                            </div>
                            <div class="col-md-12">
                                <label class="labels bg-success w-100 text-white text-center p-2">PHONE NUMBER</label>
                                <h5 class="text-center"><%= user?.phone %></h5>
                                <% if(!user?.phone) { %>
                                    <small>please enter phone number</small>
                                <% } %>
                            </div>
                            <div class="mt-5 text-center">
                                <a href="/edit_profile" class="btn btn-outline-success w-100">Edit Profile</a>
                            </div>
                            <form action="/logout" method="POST">
                                <button type="submit" class="btn-danger w-100 mt-3">
                                    Log Out
                                </button>
                            </form>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</main>
<%- include('../partials/footer.ejs') %>
