<%- include('../partials/header.ejs') %>

<main style="height: 100vh;">
    <div>
        <% let image = admin.gender === 'male' ? "/images/img_avatar1.png" : admin.gender === 'female' ? "/images/img_avatar2.png" : "/images/fruit_avatar.png" %>
        <h1 class="dashboard_AdminName my-5">Hello, <%= admin.username %><img src="<%= image %>" alt="Avatar" class="dashboard_avatar float-end mx-3"></h1>
    </div>

    <div class="container-fluid">
        <div class="row mt-3 mb-3 d-flex justify-content-evenly">
            <div class="col col-md-2 dashboard_card my-2 mx-2">
                <a href="/admin/users">
                    <h2>Users</h2>
                    <h3><%= users %></h3>
                </a>
            </div>
            <div class="col col-md-2 dashboard_card my-2 mx-2">
                <a href="/admin/pendingTransactions">
                    <h2>Pending Transactions</h2>
                    <h3><%= pending %></h3>
                </a>
            </div>
            <div class="col col-md-2 dashboard_card my-2 mx-2">
                <a href="/admin/completedTranscations">
                    <h2>Completed Transactions</h2>
                    <h3><%= delivered %></h3>
                </a>
            </div>
            <div class="col col-md-2 dashboard_card my-2 mx-2">
                <a href="/admin/out_of_stock?disable=true">
                    <h2>Complaints</h2>
                    <h3><%= complaint %></h3>
                </a>
            </div>
        </div>
    </div>

</main>



<%- include('../partials/footer.ejs') %>
