<%- include('../partials/header.ejs') %>

<main>

  <div class="">
    <form action="/admin/findTransaction" method="POST">
        <label for="searchTransaction" class="mt-2">Search Transactions</label>
        <input type="text" name="searchTransaction" id="searchTransaction">
        <button type="submit" class="btn btn-outline-secondary my-1">Search</button>
    </form>
  </div>
  <br />
  <% if (orders.length <= 0) { %>
  <h1>Nothing there!</h1>
  <% } else { %>
  <ul class="orders">
    <% totalPrice = 0 %>
    <% totalIncome = 0 %>
    <% orders.forEach(order => { %>
    <li class="orders__item">
        <h3>Token - # <%= order.token %></h3> <hr>
        <div class="spaceBetween">
          <div><h6> Transaction Date:</h6></div>
          <h6><%= order.createdAt %></h6>
        </div>
        <div class="spaceBetween">
          <div><h6> User:</h6></div>
          <h6><%= order.email %></h6>
        </div>
        <div class="spaceBetween">
          <div><h6>Transaction Type:</h6></div>
          <h6><%= order.meterType %></h6>
        </div>
        <div class="spaceBetween">
          <div><h6>Transaction Status:</h6></div>
          <h6><%= order.status %></h6>
        </div>
        <div class="spaceBetween">
          <div><h6>Total Amount</h6></div>
          <h6><%= order.amount %></h6>
        </div>
          <!-- <a href="/receipt/<%= order._id %>" class="btn btn-outline-secondary">Generate receipt</a> -->
    </li>
    <% }); %>
  </ul>
  <% } %>

</main>




<%- include('../partials/footer.ejs') %>
