<%- include('../partials/header.ejs') %>

<main >
  <div id="register">
    <div class="card">
      <h1 style="color: #005c2f">Purchase <br> Amount</h1>
      <hr />
      <form action="/utility/pay" method="POST">
        <div class="my-3">
          <h5><small>Name: </small> <%= details.Customer_Name %></h5>
          <input
            type="hidden"
            name="name"
            id="name"
            value="<%= details.Customer_Name %>"
            style="border: 2px solid #02a355"
          />
        </div>
        <div class="my-3">
          <!-- <h5><small>Meter Number: </small><%= details.Meter_Number %></h5> -->
          <input
            type="hidden"
            name="meter_no"
            id="meter_no"
            value="<%= details.Meter_Number %>"
            style="border: 2px solid #02a355"
          />
        </div>
        <div class="my-3">
          <h5><small>Email: </small><%= user.email %></h5>
          <input
            type="hidden"
            name="email"
            id="email"
            value="<%= user.email %>"
            style="border: 2px solid #02a355"
          />
        </div>
        <div class="my-3">
            <input
            type="text"
            name="phone"
            id="phone"
            placeholder="Enter phone number"
            style="border: 2px solid #02a355"
            />
        </div>
        <div class="my-3">
          <input
            type="number"
            name="amount"
            id="amount"
            placeholder="Enter Amount"
            style="border: 2px solid #02a355"
            required="true"
          />
        </div>
        <!-- serviceID -->
        <input
          type="hidden"
          name="serviceID"
          id="serviceID"
          value="<%= serviceID %>"
        />
        <!-- billersCode -->
        <input
          type="hidden"
          name="billersCode"
          id="billersCode"
          value="<%= billersCode %>"
        />
        <!-- meterType -->
        <input
          type="hidden"
          name="meterType"
          id="meterType"
          value="<%= type %>"
        />
        <!-- user_ID -->
        <input
          type="hidden"
          name="user_id"
          id="user_id"
          value="<%= user._id %>"
        />
        <button type="submit" class="btn btn-outline-success w-100">
          Proceed
        </button>
        <a href="/utility/details" class="btn btn-outline-secondary w-100">Back</a>
      </form>
    </div>
  </div>
</main>

<%- include('../partials/footer.ejs') %>
