<%- include('../partials/header.ejs') %>

<main style="height: 90vh; margin-top: 34px; margin-bottom: 20px;">
  <div id="register">
  <div class="card">
    <h1 style="color: #005c2f">Review Order</h1> <hr>

    <form action="/utility/summary" method="POST">
        <div class="my-3">
          DISTRICT
          <input type="hidden" name="serviceID" value="<%= payload.serviceID %>">
          <h4 style="color: #005c2f"><%= payload.serviceID %></h4>
        </div>
        <div class="my-3">
          METER NUMBER
          <input type="hidden" name="billersCode" value="<%= payload.billersCode %>">
          <h4 style="color: #005c2f"><%= payload.billersCode %></h4>
        </div>
        <div class="my-3">
          METER TYPE
          <input type="hidden" name="type" value="<%= payload.type %>">
          <h4 style="color: #005c2f"><%= payload.type %></h4>
        </div>

      <div class="my-3">
        <input type="number" name="amount" id="amount" placeholder="Amount (Naira)" style="border: 2px solid #02a355" />
      </div>
        
      <div class="my-3">
        <input type="number" name="phone" id="phone" placeholder="Phone Number" style="border: 2px solid #02a355" />
      </div>
      <button type="submit" class="btn btn-outline-success w-100">SUMMARY</button>
      <a href="/utility/order" class="btn btn-outline-secondary w-100" >Back</a>
    </form>
  </div>
</div>
</main>

  <%- include('../partials/footer.ejs') %>
