<%- include('../partials/header.ejs') %>

<main>
  <div class="text-center">
    <h1>verification page</h1>
    <hr />
    <h3><%= makePayment.response_description %></h3>
    <h5>Name: <%= makePayment.customerName %></h5>
    <% if (makePayment.address == null) { %>
    <div></div>
    <% } else { %>
    <h5>Address: <%= makePayment.address %></h5>
    <% } %>
    <h5>Meter Number: <%= makePayment.meterNumber %></h5>
    <h5>Amount: <%= makePayment.tokenAmount %></h5>
    <h5>Units: <%= makePayment.units %></h5>
    <strong
      >Token:
      <h5><%= makePayment.token %></h5></strong
    >
  </div>
</main>

<%- include('../partials/footer.ejs') %>
